/* You can add global styles to this file, and also import other style files */
body{
    background: #1488CC;  
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo{
    font-size: 1.8rem;
    font-family: 'Noto Sans JP', sans-serif;
}